<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Foodkit" %></title>
    <link href="stylesheets/site.css" rel="stylesheet">
    <script src="javascripts/site.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://foodkit.io/images/favicons/apple-touch-icon-57x57-fb316047.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://foodkit.io/images/favicons/apple-touch-icon-114x114-26e590cd.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://foodkit.io/images/favicons/apple-touch-icon-72x72-813837cd.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://foodkit.io/images/favicons/apple-touch-icon-144x144-eb8f60ab.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://foodkit.io/images/favicons/apple-touch-icon-60x60-e312e9ee.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://foodkit.io/images/favicons/apple-touch-icon-120x120-3ff4939c.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://foodkit.io/images/favicons/apple-touch-icon-76x76-dc836424.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://foodkit.io/images/favicons/apple-touch-icon-152x152-7e08aef9.png" />
    <link rel="icon" type="image/png" href="https://foodkit.io/images/favicons/favicon-196x196-a80dfd8f.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="https://foodkit.io/images/favicons/favicon-96x96-5752cf18.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://foodkit.io/images/favicons/favicon-32x32-94a1e00f.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://foodkit.io/images/favicons/favicon-16x16-d019777e.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://foodkit.io/images/favicons/favicon-128-b79a0f06.png" sizes="128x128" />
    <meta name="application-name" content="Foodkit.io"/>
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="https://foodkit.io/images/favicons/mstile-144x144-eb8f60ab.png" />
    <meta name="msapplication-square70x70logo" content="https://foodkit.io/images/favicons/mstile-70x70-b79a0f06.png" />
    <meta name="msapplication-square150x150logo" content="https://foodkit.io/images/favicons/mstile-150x150-3c8a6c2a.png" />
    <meta name="msapplication-wide310x150logo" content="https://foodkit.io/images/favicons/mstile-310x150-65dec780.png" />
    <meta name="msapplication-square310x310logo" content="https://foodkit.io/images/favicons/mstile-310x310-0f43d71b.png" />
    <!-- /favicons -->
  </head>
  <body>
    <div class="container">
      <header>
        <img src="https://res.cloudinary.com/ginja-co-ltd/image/upload/v1533620284/foodkit/foodkit-logo-vector.svg"
          class="foodkit-logo small-logo"
          alt="Foodkit logo" />
      </header>
      <section>
        <h1><%= current_page.data.title %></h1>
        <%= yield %>
      </section>
    </div>
    <footer>Copyright &copy; Kinja Digital Pte Ltd 2020</footer>
  </body>
</html>
