body {
  font-family: "Lato", sans-serif;
  padding: 10vh 1rem;
  line-height: 1.5em; }

.container {
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding: 15px; }

header {
  text-align: center; }

header img {
  width: 25%;
  height: 25%;
  margin: 15px auto 15px auto; }

p {
  text-align: justify; }

footer {
  margin: 40px;
  color: #646464;
  font-size: 0.8em;
  text-align: center; }

.button {
  text-decoration: none;
  width: 7em;
  display: block;
  background-color: blue;
  background-color: #ffb800;
  border-bottom-color: #ffb800;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #ffb800;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #ffb800;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #ffb800;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  border-top-style: solid;
  border-top-width: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.26) 1px 5px 25px 0px;
          box-shadow: rgba(0, 0, 0, 0.26) 1px 5px 25px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 300;
  height: 53px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 12px;
  padding-left: 10.2px;
  padding-right: 10.2px;
  padding-top: 14px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle; }

#delivery-map {
  width: 100%;
  max-width: 730px;
  display: block;
  margin: 0 auto 0 auto; }

#modal-example {
  margin: 0 auto 0 auto;
  display: block; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3em auto 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .buttons .button {
    margin: 0 auto; }
