---
title: Interview technical task
---

<p>This is the Foodkit technical task, for aspiring Foodkit engineers. These tasks will test your technical knowledge, and are the second step (after resume screening) in the Foodkit hiring process.</p>
<p>The goal of these technical tasks is to prove your technical knowledge and problem solving ability. They should be completed on your own, with no external help. They should take no longer than 2-3 hours to complete.</p>
We're looking for:
<ul>
  <li><strong>Technical abilities</strong>: you should be able to build software that <em>works</em>.</li>
  <li><strong>Coding standards</strong>: your submission should adhere to some kind of consistent coding standards, in terms of formatting, naming (files, variables and functions) and comments/annotations.</li>
  <li><strong>Problem solving skills</strong>: the tasks are non-trivial, with multiple solutions. Use your experience and skills of judgement to choose the best.</li>
</ul>
<p class="buttons">
  <a href="backend.html" class="button">Backend</a>
  <a href="frontend.html" class="button">Frontend</a>
</p>
